<template>
	<div class="checkbox">
        <label>
			 <input type="checkbox"
		            :true-value="1"
		            :false-value="0"
		            :checked="model"
		            v-model="model"
		            @change="change"> {{ option.name }}
        </label>
    </div>
</template>
<script>
    export default{
        props: ['option'],
        data() {
        	return {
        		model: ""
        	}
        },
        mounted() {
        	this.model = this.option.value;
        },
        methods: {
        	change(){
        		this.$emit('formOption', {
			      name: this.option.name,
			      value: this.model
			    })
        	}
        }
    }
</script>