<template>
	<div>
		<label class="control-label">{{ option.name }}:</label>
		<input
			class="form-control"
			v-model="model"
			:placeholder="option.name"
			@change="change">
	</div>

</template>
<script>
    export default{
        props: ['option'],
        data() {
        	return {
        		model: ""
        	}
        },
        mounted() {
        	this.model = this.option.value;
        },
        methods: {
        	change(){
        		this.$emit('formOption', {
			      name: this.option.name,
			      value: this.model
			    })
        	}
        }
    }
</script>