<template>
    <div class="loader" v-if="active"></div>
</template>

<script>
    export default{
        props: {
            active: {
                type: Boolean,
                required: true
            }
        }, 
        // data() {
        //     return {
        //         status: false
        //     }
        // },
        // watch: {
        //     'active': function (val) {
        //         var _this = this, timeout;

        //         if( val ){
        //            timeout = setTimeout(function(){
        //                 _this.status = true;
        //             }, 200);
        //         }
        //         else{
        //             clearTimeout(timeout);
        //             this.status = false;
        //         }
        //     }
        // }
    }
</script>