<template>
	<div class="row">
        <div class="base-loader"><loader :active="loader"></loader></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>

                <div class="panel-body">
                    <form class="form-horizontal" method="POST" @submit.prevent="loginHandler">

                        <div :class="['form-group', {'has-error':response.errors.email}]">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" v-model="form.email" required autofocus>

                                <span class="help-block" v-if="response.errors.email">
									<strong v-for="error in response.errors.email">{{ error }}</strong>
								</span>
                            </div>
                        </div>

                        <div :class="['form-group', {'has-error':response.errors.password}]">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" v-model="form.password" required>

                                <span class="help-block" v-if="response.errors.password">
									<strong v-for="error in response.errors.password">{{ error }}</strong>
								</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" :true-value="1" :false-value="0" v-model="form.remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                loader: false,
                form: {
                    email: "",
                    password: "",
                    remember: 0,
                },
                response: {
                    errors: []
                }
            }
        },
        methods: {
            loginHandler(){
                this.loader = true;
                axios.post(`/login`, this.form)
                    .then((response) => {
                        window.location.reload();
                    })
                    .catch((data) => {
                        this.loader = false;
                        this.response.errors = data.response.data.errors;
                    });
            }
        }
    }
</script>