<template>
   <div class="row">
        <div class="base-loader"><loader :active="loader"></loader></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>

                <div class="panel-body">
                    <form class="form-horizontal" method="POST" @submit.prevent="registerHandler">

                        <div :class="['form-group', {'has-error':response.errors.name}]">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" v-model="form.name" required autofocus>
								<span class="help-block" v-if="response.errors.name">
									<strong v-for="error in response.errors.name">{{ error }}</strong>
								</span>
                            </div>
                        </div>

                        <div :class="['form-group', {'has-error':response.errors.email}]">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="form.email" required>
								<span class="help-block" v-if="response.errors.email">
									<strong v-for="error in response.errors.email">{{ error }}</strong>
								</span>
                            </div>
                        </div>

                        <div :class="['form-group', {'has-error':response.errors.password}]">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" v-model="form.password" required>
								<span class="help-block" v-if="response.errors.password">
									<strong v-for="error in response.errors.password">{{ error }}</strong>
								</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="form.password_confirmation" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
          return {
                loader: false,
                form: {
                    name: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                },
                response: {
                    errors: []
                }
          }
        },
        methods: {
            registerHandler(){
                this.loader = true;
                axios.post(`/register`, this.form)
                    .then((response) => {
                        window.location.reload();
                    })
                    .catch((data) => {
                        this.loader = false;
                        this.response.errors = data.response.data;
                    });
            }
        }
    }
</script>