<template>
    <div class="row">
        <div class="base-loader"><loader :active="loader"></loader></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Create project</div>

                <div class="panel-body">
                    <form class="form-horizontal" @submit.prevent="createHandler">

                        <div :class="['form-group', {'has-error':response.errors.name}]">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" v-model="form.name" required autofocus>
                                <span class="help-block" v-if="response.errors.name">
                                    <strong v-for="error in response.errors.name">{{ error }}</strong>
                                </span>
                            </div>
                        </div>

                        <div :class="['form-group', {'has-error':response.errors.alias}]">
                            <label for="alias" class="col-md-4 control-label">Alias</label>

                            <div class="col-md-6">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text small">{{ baseUrl }}/callback/</div>
                                    </div>
                                    <input id="alias" type="text" class="form-control" v-model="form.alias" required autofocus>
                                    <span class="help-block" v-if="response.errors.alias">
                                        <strong v-for="error in response.errors.alias">{{ error }}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Setting:</label>
                            <div class="col-md-6 col-md-offset-4">
                                
                                <loader :active="option_loader"></loader>
                                <div v-for="(option, index) in form.options">
                                    <component
                                        :is="`form-${option.type}`"
                                        :option="option"
                                        @formOption='formOption'></component>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-success">
                                    Create
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                option_loader: true,
                loader: false,
                baseUrl: window.location.origin,
                form: {
                    name: "",
                    alias: "",
                    options: []
                },
                response: {
                    errors: [],
                }
            }
        },
        mounted() {
            this.getOptions();
        },
        methods: {
            createHandler(){
                this.loader = true;
                axios.post(`/api/projects`, this.form)
                    .then((response) => {
                        this.loader = false;
                        if( response.data.id ){
                            this.$router.push({
                                name:'show',
                                params: {
                                    project_id: response.data.id
                                }
                            })
                        }
                    })
                    .catch((data) => {
                        this.loader = false;
                        this.response.errors = data.response.data;
                    });
            },
            getOptions(){
                axios.get(`/api/options/all`)
                    .then((response) => {
                        this.form.options = response.data;
                        this.option_loader = false;
                    })
                    .catch((data) => {
                        console.log(data);
                    });
            },
            formOption(item){
                this.form.options.forEach((e, i) => {
                    if( e.name == item.name ){
                        this.form.options[i].value = item.value;
                    }
                });
            }
        }
    }
</script>