<template>
    <div class="row">
        <div class="base-loader"><loader :active="loader"></loader></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edit project
                    <div style="float: right;">
                        <router-link :to="{ name: 'show', params: { project_id: project_id } }">
                            Show
                        </router-link>
                    </div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" @submit.prevent="updateHandler">

                        <div :class="['form-group', {'has-error':response.errors.name}]">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" v-model="form.name" required autofocus>
                                <span class="help-block" v-if="response.errors.name">
                                    <strong v-for="error in response.errors.name">{{ error }}</strong>
                                </span>
                            </div>
                        </div>

                        <div :class="['form-group', {'has-error':response.errors.alias}]">
                            <label for="alias" class="col-md-4 control-label">Alias</label>

                            <div class="col-md-6">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text small">{{ baseUrl }}/callback/</div>
                                    </div>
                                    <input id="alias" type="text" class="form-control" v-model="form.alias" required autofocus>
                                    <span class="help-block" v-if="response.errors.alias">
                                        <strong v-for="error in response.errors.alias">{{ error }}</strong>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Setting:</label>
                            <div class="col-md-6 col-md-offset-4">
            
                                <loader :active="option_loader"></loader>
                                <div v-for="(option, index) in form.options">
                                    <component
                                        :is="`form-${option.type}`"
                                        :option="option"
                                        @formOption='formOption'></component>
                                </div>

                            </div>
                        </div>

                        <div :class="['form-group', {'has-error':response.errors.delete}]">
                            <div class="col-md-4 col-md-offset-4">
                                <button type="submit" class="btn btn-success">
                                    Save
                                </button>
                                <button type="submit" class="btn btn-danger" @click.prevent="deleteHandler">
                                    Delete
                                </button>

                                <span class="help-block" v-if="response.errors.delete">
                                    <strong>{{ response.errors.delete }}</strong>
                                </span>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: {
            project_id: {
                type: Number,
                required: true
            }
        },
        data(){
            return {
                option_loader: true,
                loader: false,
                action: "",
                baseUrl: window.location.origin,
                form: {
                    name: "",
                    alias: "",
                    options: [],
                    _method: "PUT"
                },
                response: {
                    errors: [],
                    data: []
                }
            }
        },
        mounted() {
            this.project_id = this.$route.params.project_id;
            this.action = `/api/projects/${this.project_id}`;
            
            this.getProject();
            this.getOptions();
        },
        methods: {
            updateHandler() {
                this.loader = true;
                axios.put(this.action, this.form)
                    .then((response) => {
                        this.loader = false;
                        if( response.data.id ){
                            this.$router.push({
                                name:'show',
                                params: {
                                    project_id: response.data.id
                                }
                            })
                        }
                    })
                    .catch((data) => {
                        this.loader = false;
                        this.response.errors = data.response.data;
                    });
            },
            deleteHandler() {
                if( confirm('Are you sure ?') ){
                    this.loader = true;
                    axios.post(this.action, {_method: "DELETE"})
                        .then((response) => {
                            this.loader = false;
                            this.$router.push({name:'index'})
                        })
                        .catch((data) => {
                            this.loader = false;
                            this.response.errors = data.response.data;
                        });
                }
            },
            getOptions() {
                axios.get(`/api/options/all/${this.project_id}`)
                    .then((response) => {
                        this.form.options = response.data;
                        this.option_loader = false;
                    })
                    .catch((data) => {
                        console.log(data);
                    });
            },
            getProject() {
                axios.get(`/api/projects/${this.project_id}`)
                    .then((response) => {
                        this.form.name = response.data.name;
                        this.form.alias = response.data.alias;
                    })
                    .catch((data) => {
                        console.log(data);
                    });
            },
            formOption(item){
                this.form.options.forEach((e, i) => {
                    if( e.name == item.name ){
                        this.form.options[i].value = item.value;
                    }
                });
            }
        }
    }
</script>