<template>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Project list</div>
                
                <loader :active="!projects.data"></loader>
                <div class="panel-body" v-for="project in projects.data">
                    <router-link :to="{ name: 'show', params: { project_id: project.id } }">
                        {{ project.name }}
                    </router-link>
                    <div class="panel-action">
                    <div class="box-counter">{{ project.callbacks_count }} - {{ project.callbacks_sum }}</div>
                        <router-link :to="{ name: 'edit', params: { project_id: project.id } }">
                            <span class="glyphicon glyphicon-cog"></span>
                        </router-link>
                    </div>
                </div>

                <div style="text-align: center;">
                    <vue-pagination :pagination="projects" @paginate="getProjects()" :offset="4"></vue-pagination>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default{
        data() {
            return {
                projects: {
                    total: 0,
                    per_page: 0,
                    from: 0,
                    to: 0,
                    current_page: 0
                },
                offset: 0
            }
        },
        mounted() {
            this.getProjects();
        },
        methods: {
            getProjects() {
                axios.get(`/api/projects?page=${this.projects.current_page}`)
                    .then((response) => {
                        this.projects = response.data;
                    })
                    .catch(() => {
                        console.log('handle server error from here');
                    });
            }
        }
    }
</script>