<template>

    <div class="row">
        <div class="base-loader"><loader :active="loader"></loader></div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ project.name }} -
                    <div style="display: inline-block;">
                        <div class="input-group-text small">{{ baseUrl }}/callback/{{ project.alias }}</div>
                    </div>
                    <div class="action-bar-right">
                        <a href="#" @click="getCallbacks">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                        <router-link :to="{ name: 'edit', params: { project_id: project.id } }">
                            <span class="glyphicon glyphicon-cog"></span>
                        </router-link>
                    </div>
                </div>

                <div class="panel-body">
                    <loader :active="!callbacks.data"></loader>
                    <div v-for="callback in callbacks.data" :class="[callback.method, 'panel panel-default panel-method']">
                        <div class="panel-heading">
                            <small>{{ callback.updated_at }} - <strong>{{ callback.method }}</strong></small>
                            <div style="float: right;">
                                <small>
                                    <strong>{{ callback.counter }}</strong> times

                                    <a href="#" style="color:red;" @click.prevent="deleteCallbackHandler(callback.id)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>

                                </small>
                            </div>
                        </div>
                        <div class="panel-body code-block">
                            <pre @click="prettyJson(callback)">{{ callback.request }}</pre>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <vue-pagination :pagination="callbacks" @paginate="getCallbacks()" :offset="4"></vue-pagination>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default{
        props: {
            project_id: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                loader: false,
                baseUrl: window.location.origin,
                callbacks: {
                    total: 0,
                    per_page: 0,
                    from: 0,
                    to: 0,
                    current_page: 0
                },
                offset: 0,
                project: {}
            }
        },
        mounted() {
            this.getProject();
            this.getCallbacks();
        },
        methods: {
            getCallbacks() {
                this.loader = true;
                axios.get(`/api/callbacks/${this.project_id}?page=${this.callbacks.current_page}`)
                    .then((response) => {
                        this.loader = false;
                        this.callbacks = response.data;
                    })
                    .catch(() => {
                        this.loader = false;
                        console.log('handle server error from here');
                    });
            },
            deleteCallbackHandler(id) {
                if( confirm('Are you sure ?') ){
                    this.loader = true;
                    axios.post('/api/callbacks/'+id, {_method: "DELETE"})
                        .then((response) => {
                            this.loader = false;
                            if(! response.data.length ){
                                this.getCallbacks();
                            }
                        })
                        .catch(() => {
                            this.loader = false;
                            console.log('handle server error from here');
                        });
                }
            },
            getProject() {
                axios.get(`/api/projects/${this.project_id}`)
                    .then((response) => {
                         this.project = response.data;
                    })
                    .catch((data) => {
                        console.log(data.response.data);
                    });
            },
            prettyJson(element) {
                this.callbacks.data.forEach((e, i) => {
                    if (e.id == element.id)
                    {
                        let offset =  0;
                        if( this.callbacks.data[i].pretty ){
                            this.callbacks.data[i].pretty = 0;
                        }else{
                            offset = 2;
                            this.callbacks.data[i].pretty = 2;
                        }

                        this.callbacks.data[i].request = JSON.stringify(
                            JSON.parse(element.request), null, offset
                        );
                    }
                });
            }
        }
    }
</script>